@media (max-width:800px){
.lesreliques{
    height: 200px;
    position: relative;
    top: 40%;
    left: 15%;
   }
       
 #relique3, #relique4, #relique5, #relique6, #relique7 {
     display: none; /* Ensure these elements show on medium screens */
  }  
 }

    
@media (max-width: 1000px) and (min-width :800px){
 

.lesreliques{
   height: 200px;
   position: relative;
   top: 40%;
   left: 15%;
  }
      
#relique4, #relique5, #relique6, #relique7 {
    display: none; /* Ensure these elements show on medium screens */
 }  
}

#courbe5, #courbe6, #courbe7{
  position: absolute;
  left: 0px;
}
  

  
  #courbe8{
    position: absolute;
    left: -71px;
    top: 40px;
    /*width: 2717px;
    height: 567px;*/
    border-radius: 0px;
  }
  
  #courbe9{
    position: absolute;
    left: -304.97px;
    top: -80px;
    /*width: 3337px;
    height: 764px;*/
    transform: rotate(0deg);
    border-radius: 0px;
  }
  
  #courbe10{
    position: absolute;
    left: -195.51px;
    top: 326.65px;
    /*width: 3340px;
    height: 836px;*/
    transform: matrix(1.00, -0.03, 0.03, 1.00, -0.00, 0.00);
    border-radius: 0px;
  }
  



@media (min-width:1800px){
    /*apparence différente pour une page supérieure à 1800px*/
.lesreliques{
    height: 200px;
    position: relative;
    top: 40%;
    left: 20%;
   
    }
  }